@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<TraSuaWeb.Models.HoaDon>

@{ int CurrenPage = ViewBag.CurrentPage;
    ViewData["Title"] = "danh sách đơn hàng" + CurrenPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-affix m-v-10">
                                    <i class="prefix-icon anticon anticon-search opacity-04"></i>
                                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search Project">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdHoaDon" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i>Thêm mới</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
        <tr role="row" class="odd">
            <td>
                @item.MaHd
            </td>
            <td class="sorting_1">
                <h6 class="m-b-0 m-l-10">@item.MaKhNavigation.TenKh</h6>
            </td>

            <td>@item.NgayDat</td>
            <td>@item.TongTien.Value.ToString("#,##0") VND</td>
            <td>
                @if (item.TrangThai)
                {
        <div class="d-flex align-items-center">
            <div class="badge badge-success badge-dot m-r-10"></div>
            <div>Đang giao</div>
        </div> }
    else
    {
        <div class="d-flex align-items-center">
            <div class="badge badge-danger badge-dot m-r-10"></div>
            <div>Đang giao</div>
        </div>}
            </td>
            <td class="text-right">
                <a asp-area="Admin" asp-controller="AdHoaDon" asp-action="Edit" asp-route-id="@item.MaHd" class="btn btn-info m-r-5">Sửa</a>
                <a asp-area="Admin" asp-controller="AdHoaDon" asp-action="Details" asp-route-id="@item.MaHd" class="btn btn-warning m-r-5">Chi tiết</a>
                <a asp-area="Admin" asp-controller="AdHoaDon" asp-action="Delete" asp-route-id="@item.MaHd" class="btn btn-danger m-r-5">Xóa</a>
            </td>
        </tr>}
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdHoaDon" asp-action="index" />
                </ul>
            </div>
        </div>
    </div>
</div>
