@model TraSuaWeb.Models.KhachHang

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<HoaDon> DanhSachDonHang = ViewBag.DonHang;
    TraSuaWeb.ModelView.doimatkhauViewModel doimatkhau = new TraSuaWeb.ModelView.doimatkhauViewModel();

}




<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Thông Tin Của @Model.TenKh</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Tài khoản của @Model.TenKh</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="account-page-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Thông tin khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Hóa Đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" data-bs-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">Địa Chỉ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Đổi mật khẩu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="dang-xuat.html" role="tab" aria-selected="false">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="myaccount-dashboard">
                                <p>
                                    Xin Chào <b>@Model.TenKh</b>
                                </p>
                                <p>Email: @Model.Email</p>
                                <p>Số điện thoại: @Model.Sðt</p>
                                <p>Địa chỉ: @Model.DiaChi</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">DANH SÁCH ĐƠN HÀNG</h4>
                                @if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
                                {


                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>Hóa Đơn</th>
                                                    <th>Ngày</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Tổng Tiền</th>
                                                    <th></th>
                                                </tr>
                                                @foreach (var item in DanhSachDonHang)
                                                {
                                                    <tr>
                                                        <td><a class="account-order-id" href="javascript:void(0)">@item.MaHd</a></td>
                                                        <td>@item.NgayDat</td>
                                                        <td>@item.TrangThai</td>
                                                        <td>@item.TongTien.Value.ToString("#,##0") VND </td>
                                                        <td>
                                                            <a class="xemdonhang" href="javascript:void(0)" data-mahonhang="@item.MaHd">Xem đơn hàng</a>
                                                        </td>
                                                    </tr>
                                                }                                              
                                            </tbody>
                                        </table>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="myaccount-address">
                                <div class="row">
                                    <div class="col">
                                        <address>
                                            @Model.DiaChi
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                            @await Html.PartialAsync("_DoimatkhauPartialView", doimatkhau)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".XemDonHang").click(function () {
                var madonhang = $(this).attr("data-mahonhang")
                $ajax({
                    url: '/DonHang/Details',
                    datatype: "json",
                    data: { id: madonhang },
                    async: true,
                    success: function (resuilt) {
                        $("#records_table").html("");
                        $("#records_table").html(resuilt);

                    },
                    error: function (xhr) {
                        alter('error');
                    }
                });
            });
        });
    </script>
}
